---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;

const faviconUrl = new URL('/favicon.svg', Astro.site);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const siteTitle = `${title} • Inovative software solutions for your needs.`;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- general meta -->
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="keywords" content="software, development, web, mobile, desktop, applications, custom, solutions, automation, digital, transformation" />
        <meta name="author" content="Styria IT team" />
        <meta name="robots" content="index, follow" />
        <meta name="language" content="English" />
        <meta name="revisit-after" content="7 days" />
        <meta name="rating" content="General" />
        
        <!-- open graph -->
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalUrl} />
        <meta property="og:description" content={description} />

        <title>{siteTitle}</title>

        <link rel="canonical" href={canonicalUrl} />
        <link rel="icon" type="image/svg+xml" href={faviconUrl} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    html,
    body {
        height: 100%;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background);
    }
    
    main {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
</style>